<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<a href="/add" class="add-button">添加</a>
<table>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>生日</th>
        <th>性别</th>
        <th>操作</th>
    </tr>
    <!-- 遍历集合，如果被遍历的变量 students 为 null 或者不存在，则不会进行遍历，也不报错-->
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.birth}"></td>
        <td th:text="${student.gender}"></td>
        <td><a th:href="@{/delete(id=${student.id})}">删除</a>
            <a th:href="@{/change(id=${student.id})}">修改</a></td>
    </tr>
</table>
<script th:inline="javascript">
    let msg = [[${msg}]];
    if(msg){
        alert(msg);
    }
</script>
</body>
</html>