<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        tr, td, th {
            border: 1px solid #ccc;
        }
        th {
            background-color: #eee;
        }
        tr img{
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>真实姓名</th>
        <th>性别</th>
        <th>出生日期</th>
        <th>手机号</th>
        <th>邮箱</th>
        <th>QQ</th>
        <th>头像</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>帐号状态</th>
        <th>删除状态</th>
        <th></th>
    </tr>
    <tr th:each="userInfo:${userInfos}">
        <th scope="row" th:text="${userInfo.id}"></th>
        <td th:text="${userInfo.username}"></td>
        <td th:text="${userInfo.name}"></td>
        <td th:text="${userInfo.gender}"></td>
        <td th:text="${userInfo.birthday}"></td>
        <td th:text="${userInfo.phone}"></td>
        <td th:text="${userInfo.email}"></td>
        <td th:text="${userInfo.qq}"></td>
        <td><img alt="..." th:src="${userInfo.img}"></td>
        <!--        <td th:text="${userInfo.img}"></td>-->
        <td th:text="${userInfo.createDate}"></td>
        <td th:text="${userInfo.updateDate}"></td>
        <td th:text="${userInfo.state}"></td>
        <td th:text="${userInfo.isDel}"></td>
    </tr>
</table>
</body>
</html>